@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
} 
body{
  background-color: aliceblue;
}

.nav-section{
  border:1px solid black;
  background-color: black;
  display:flex;
  justify-content: space-between;
  color: white;
  height:50px;
  align-items: center;
}
.proSection{
  display:flex;
  
}
.imgBox{
  width:80%;
  padding-left: 20px;

}
.proImage{
  width:80%;
}
.sub-menu ul{
  list-style: none;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.sub-menu ul li{
  padding: 0 13px;
  cursor: pointer;
  font-size: large;
  
}
.sub-menu{
  background-color: rgb(128, 125, 121);
  color: white;
}
.pageSection{
  display: grid;
  grid-template-columns: repeat(4, 300px);
  padding-left: 60px;
  gap:20px;
}
.pageImg{
  width: 250px;
  height: 250px;

}
.pageImg img{
  width: 100%;
}
.ind-page{
  display: flex;
  margin:60px
}
.ind-image img{
  width: 100%;
}
.ind-details{
  padding:20px;
  margin: 30px;
  gap: 30px;
}
.space{
  margin:10px;
}
.ind-details button{
  margin-left: 100px;
  margin-top:10px;
  width: 150px;
  height:40px;
  font-weight: 500;
  background-color: orange;
  color:white;
  font-size: 20px;
  border:none;
  border-radius: 7px;

}
.btn{
  background-color: rgb(92, 90, 87);
  color:white;
  border:none;
  padding: 5px 13px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}
.btn:hover{
  background-color: orange;
  color:black;
}
.sub-menu ul li:hover{
  color: orange;
  font-weight: 600;
  transition: 0.3s;
}
.search input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border:none;
  padding-left: 10px;
  font-size: large;
}
.tit{
  margin-top: 20px;
  text-decoration: none;
}